@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap");


* {
    margin: 0;
    padding: 0;
    
    
}

.backimage {
    background-image:  url("images/background-img.jpg");
    font-family: 'Roboto' , sans-serif;
    height: 100%;
    
    
}
.backcolor {
    background-color: black;
}

.header {
    width: 100%;
    height: 80px;
    padding-top: 20px;
    margin-left: 0px;
    
}

.header img{
    width: 160px;
}
.registerblock {
    color: white;
    width: 60%;
    height: 70%;
    background-color: rgba(0, 0, 0, 0.719);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.blockspace {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: ;
}
.registerblock1 {
    color: white;
    width: 100%;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.548);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.blockspace1 {
    
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
::placeholder {
    color: rgba(243, 239, 239, 0.281);
    padding-left: 10px;
    font-size: 14px;

}
.inputs {
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    
}
.inputs input{
    background-color:#3b3939 ;
    border: none;
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.37);
    padding: 5px;
    height: 45px;
    border-radius: 4px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.button button{
    width: 100%;
    height: 50px;
    background-color: #E50914;
    color: white;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 4px;
    margin-top: 30px;
}
.checkboxlock{
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
    

}
.isnew {
    color: #b3b3b3;

}
.signupnow:hover{
    text-decoration: underline;
}

.pi a:hover{
    text-decoration: underline;
    color: #b3b3b3 ;
}
.needhelp a{
    color: #b3b3b3;
    font-size: 14px;
}
selection{
    font-size: 14px;
    color: #b3b3b3;
}
.signupnow a{
    color: white;
}
.title {
    font-weight: bold;
    color: white;
    font-size: 18px;
    font-family: 'Roboto' , sans-serif;
}
.needhelp{
    float: right;
    right: 0;
    color: #b3b3b3;
}
.needhelp:hover{
    text-decoration: underline;
    color: #b3b3b3;
}
.pi {
    color: #b3b3b3;
    font-size: 14px;
    font-weight: normal;
    
}
.pi a {
    color: #b3b3b3;
    padding-bottom: 20px;
}
.line {
    margin-top: 110px;
}
.box {
    width: 120px;
    height: 50px;
    border-radius: 1px white;
    margin-left: 20px;
    margin-bottom: 20px;
    background-color: black;
    border-color: blanchedalmond;
    color: #b3b3b3;
    padding-left: 20px;
}
.world{
    position: relative;
    bottom: -15px;
    right: 115px;
}
option value{
    padding-left: 20px;
}
.large{
    background-color:rgba(0, 0, 0, 0.548)!important;
    color:#b3b3b3;
    margin: 0px;
   
    height: auto;
}
.pla{
    float: left;
    left: 135px;
}
@media (min-width:760px) {
    .box {
    width: 120px;
    height: 50px;
    border-radius: 1px white;
    margin-left: 20px;
    margin-bottom: 20px;
    background-color:rgba(0, 0, 0, 0.445);
    border-color: blanchedalmond;
    color: #b3b3b3;
    padding-left: 20px;
}
    .pla {
        float: left;
        left: 4px;
    }
    .world{
        position: relative;
        bottom: -0px;
        right: 120px;
}
    .pi{
        font-size: 18px;
    }
}
body{
    overflow-x:hidden;
    
}
